In [4]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)
lesser_of_two_evens(2,4)

2

In [5]:
lesser_of_two_evens(2,5)

5

In [21]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
#animal_crackers('Levelheaded Llama') --> True
#animal_crackers('Crazy Kangaroo') --> False
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)
    
    first=wordlist[0]
    second=wordlist[1]
    return first[0]==second[0]

In [22]:
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [23]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [24]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or 
#if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
#makes_twenty(2,3) --> False
def makes_twenty(a,b):
    if a+b==20:
        return True
    elif a==20 or b==20:
        return True
    else:
        return False

In [25]:
makes_twenty(20,10)

True

In [26]:
makes_twenty(12,8)

True

In [27]:
makes_twenty(2,3)

False

In [28]:
#LEVEL 1 PROBLEMS
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald

#Note: 'macdonald'.capitalize() returns 'Macdonald'
def old_macdonald(word):
    if len(word)>3:
        return word[:3].capitalize()+word[3:].capitalize()
    else:
        return "Name is too short"

In [29]:
old_macdonald('macdonald')

'MacDonald'

In [45]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'
def master_yoda(words):
    return ' '.join(words.split()[::-1])

In [46]:
master_yoda('I am home')

'home am I'

In [47]:
master_yoda('We are ready')

'ready are We'

In [49]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
#almost_there(104) --> True
#almost_there(150) --> False
#almost_there(209) --> True
def almost_there(n):
    return ((abs(100-n)<=10) or (abs(200-n)<=10))

In [50]:
almost_there(90)

True

In [51]:
almost_there(104)

True

In [52]:
almost_there(150)

False

In [53]:
almost_there(209)

True

In [54]:
#LEVEL 2 PROBLEMS
#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

#has_33([1, 3, 3]) → True
#has_33([1, 3, 1, 3]) → False
#has_33([3, 1, 3]) → False
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [55]:
has_33([1, 3, 3])

True

In [56]:
has_33([1, 3, 1, 3])

False

In [57]:
has_33([3, 1, 3])

False

In [64]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
def paper_doll(text):
    result=''
    for char in text:
        result+= char*3
    return result

In [65]:
paper_doll('Hello')

'HHHeeellllllooo'

In [66]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [67]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
#if the sum (even after adjustment) exceeds 21, return 'BUST'
#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return sum((a,b,c))
    elif sum((a,b,c))>31 and 11 in ((a,b,c)):
        return sum((a,b,c))-10
    else:
        return 'BUST'

In [68]:
blackjack(5,6,7)

18

In [69]:
blackjack(9,9,9)

'BUST'

In [70]:
blackjack(9,9,11)

'BUST'

In [4]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
#and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
#summer_69([1, 3, 5]) --> 9
#summer_69([4, 5, 6, 7, 8, 9]) --> 9
#summer_69([2, 1, 6, 9, 11]) --> 14
def summer_69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [5]:
summer_69([1, 3, 5])

9

In [6]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [7]:
summer_69([2, 1, 6, 9, 11])

14

In [12]:
#CHALLENGING PROBLEMS
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order¶
 #spy_game([1,2,4,0,0,7,5]) --> True
 #spy_game([1,0,2,4,0,5,7]) --> True
 #spy_game([1,7,2,0,4,5,0]) --> False
def spy_game(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code)==1

In [13]:
spy_game([1,2,4,0,0,7,5])

True

In [14]:
spy_game([1,0,2,4,0,5,7])

True

In [15]:
spy_game([1,7,2,0,4,5,0])

False

In [ ]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
#count_primes(100) --> 25

#By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)